In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('all_data.csv')

In [3]:
df.head(10)

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Veranda,Barbecue,Surface of the garage,Water softener,Terrain width at the roadside,Surface of the dressing,Surface of the veranda,Terrace orientation,Bike storage,Lighting with motion sensor
0,1000 Brussels,flat,flat---apartment,333500,2,100 m²,Super equipped,1,1,1,...,None,None,None,None,None,None,None,None,None,None
1,1000 Brussels,flat,flat---apartment,379000,1,80 m²,Super equipped,1,1,3,...,None,None,None,None,None,None,None,None,None,None
2,1000 Brussels,flat,flat---apartment,295000,2,80 m²,None,None,1,None,...,None,None,None,None,None,None,None,None,None,None
3,1000 Brussels,flat,loft,635000,2,217 m²,Super equipped,1,3,4,...,None,None,None,None,None,None,None,None,None,None
4,1000 Brussels,flat,loft,595000,2,207 m²,None,2,2,3,...,None,None,None,None,None,None,None,None,None,None
5,1000 Brussels,flat,duplex,615000,2,170 m²,Super equipped,1,2,None,...,None,None,None,None,None,None,None,None,None,None
6,1000 Brussels,flat,duplex,615000,1,170 m²,Super equipped,1,2,None,...,None,None,None,None,None,None,None,None,None,None
7,1000 Brussels,flat,flat---apartment,515000,3,130 m²,None,2,None,1,...,None,None,None,None,None,None,None,None,None,None
8,1000 Brussels,flat,flat---apartment,550000,3,130 m²,None,2,None,4,...,None,None,None,None,None,None,None,None,None,None
9,1000 Brussels,flat,flat---apartment,355000,1,82 m²,Fully equipped,1,None,None,...,None,None,None,None,None,None,None,None,None,None

In [4]:
df.info

<bound method DataFrame.info of               Locality Type of property Subtype of property    Price  \
0        1000 Brussels             flat    flat---apartment   333500
1        1000 Brussels             flat    flat---apartment   379000
2        1000 Brussels             flat    flat---apartment   295000
3        1000 Brussels             flat                loft   635000
4        1000 Brussels             flat                loft   595000
...                ...              ...                 ...      ...
18502  9992 Middelburg            house               villa   675000
18503  9992 Middelburg            house               villa  1450000
18504  9992 Middelburg            house           residence   695000
18505  9992 Middelburg            house           residence   420000
18506  9992 Middelburg            house           residence     None

      Number of bedrooms Livable surface Kitchen equipment  \
0                      2          100 m²    Super equipped
1                      1           80 m²    Super equipped
2                      2           80 m²              None
3                      2          217 m²    Super equipped
4                      2          207 m²              None
...                  ...             ...               ...
18502                  3            None              None
18503                  6          630 m²              None
18504                  3          196 m²    Fully equipped
18505                  3            None              None
18506                  4            None              None

      Number of bathrooms Number of toilets Floor of appartment  ... Veranda  \
0                       1                 1                   1  ...    None
1                       1                 1                   3  ...    None
2                    None                 1                None  ...    None
3                       1                 3                   4  ...    None
4                       2                 2                   3  ...    None
...                   ...               ...                 ...  ...     ...
18502                   1                 1                None  ...    None
18503                   4                 4                None  ...    None
18504                   1                 1                None  ...    None
18505                   1                 1                None  ...    None
18506                   2              None                None  ...    None

      Barbecue Surface of the garage Water softener  \
0         None                  None           None
1         None                  None           None
2         None                  None           None
3         None                  None           None
4         None                  None           None
...        ...                   ...            ...
18502     None                  None           None
18503     None                  None           None
18504     None                  None           None
18505     None                  None           None
18506     None                  None           None

      Terrain width at the roadside Surface of the dressing  \
0                              None                    None
1                              None                    None
2                              None                    None
3                              None                    None
4                              None                    None
...                             ...                     ...
18502                          None                    None
18503                          None                    None
18504                          None                    None
18505                          25 m                    None
18506                          None                    None

      Surface of the veranda Terrace orientation Bike storage  \
0                       None                None         None
1                       None                None         None
2                       None                None         None
3                       None                None         None
4                       None                None         None
...                      ...                 ...          ...
18502                   None                None         None
18503                   None                None         None
18504                   None                None         None
18505                   None                None         None
18506                   None                None         None

      Lighting with motion sensor
0                            None
1                            None
2                            None
3                            None
4                            None
...                           ...
18502                        None
18503                        None
18504                        None
18505                        None
18506                        None

[18507 rows x 80 columns]>

In [5]:
df.columns

Index(['Locality', 'Type of property', 'Subtype of property', 'Price',
       'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property',
       'Currently leased', 'Build Year', 'Availability', 'Surface bedroom 1',
       'Furnished', 'Surface of living-room', 'Cellar', 'Surface kitchen',
       'Entry phone', 'Elevator', 'Number of showers',
       'Orientation of the front facade', 'Number of facades', 'Terrace',
       'Surface terrace', 'Surface bedroom 2', 'Security door',
       'Access for disabled', 'Sewer Connection', 'Frontage width', 'Gas',
       'Office surface', 'Total land surface', 'Kitchen type', 'Garden',
       'Surface garden', 'Surface bedroom 3', 'Garage', 'Number of garages',
       'Diningroom', 'Surface of the diningroom', 'Dressing', 'Wash room',
       'Air conditioning', 'Domotica', 'Alarm', 'Hammam/Sauna/Jacuzzi',
       'Fireplace', 'Buildable surface', 'Ground depth',
       'Surface of the cellar(s)', 'Attic', 'Motorized garage door',
       'Electronic key', 'Surface bedroom 4', 'Surface bedroom 5',
       'Electric charging station', 'Number of parking spaces (indoor)',
       'Number of parking places (outdoor)', 'Attic surface',
       'Opportunity for professional', 'Surface of the bathroom(s)',
       'Adaptations for elderlies', 'Service apartment', 'Garden orientation',
       'Rain water tank', 'Swimming pool', 'Veranda', 'Barbecue',
       'Surface of the garage', 'Water softener',
       'Terrain width at the roadside', 'Surface of the dressing',
       'Surface of the veranda', 'Terrace orientation', 'Bike storage',
       'Lighting with motion sensor'],
      dtype='object')

In [6]:
df.drop(['Electric charging station', 'Number of parking spaces (indoor)',
       'Number of parking places (outdoor)', 'Attic surface',
       'Opportunity for professional',
       'Adaptations for elderlies', 'Service apartment', 'Garden orientation',
       'Rain water tank', 'Veranda', 'Barbecue',
       'Surface of the garage', 'Water softener',
       'Terrain width at the roadside',
       'Surface of the veranda', 'Terrace orientation', 'Bike storage',
       'Lighting with motion sensor', 'Wash room',
       'Air conditioning', 'Domotica', 'Alarm', 'Hammam/Sauna/Jacuzzi',
       'Fireplace', 'Buildable surface', 'Ground depth',
       'Surface of the cellar(s)', 'Attic', 'Motorized garage door'], axis=1, inplace=True)

In [7]:
df.columns

Index(['Locality', 'Type of property', 'Subtype of property', 'Price',
       'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property',
       'Currently leased', 'Build Year', 'Availability', 'Surface bedroom 1',
       'Furnished', 'Surface of living-room', 'Cellar', 'Surface kitchen',
       'Entry phone', 'Elevator', 'Number of showers',
       'Orientation of the front facade', 'Number of facades', 'Terrace',
       'Surface terrace', 'Surface bedroom 2', 'Security door',
       'Access for disabled', 'Sewer Connection', 'Frontage width', 'Gas',
       'Office surface', 'Total land surface', 'Kitchen type', 'Garden',
       'Surface garden', 'Surface bedroom 3', 'Garage', 'Number of garages',
       'Diningroom', 'Surface of the diningroom', 'Dressing', 'Electronic key',
       'Surface bedroom 4', 'Surface bedroom 5', 'Surface of the bathroom(s)',
       'Swimming pool', 'Surface of the dressing'],
      dtype='object')

In [8]:
df.drop(['Entry phone','Currently leased', 'Security door',
       'Access for disabled', 'Sewer Connection', 'Frontage width','Office surface'], axis=1, inplace=True)

In [9]:
df.head(12)

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
0,1000 Brussels,flat,flat---apartment,333500,2,100 m²,Super equipped,1,1,1,...,None,None,None,None,None,None,None,None,None,None
1,1000 Brussels,flat,flat---apartment,379000,1,80 m²,Super equipped,1,1,3,...,None,None,None,None,None,None,None,None,None,None
2,1000 Brussels,flat,flat---apartment,295000,2,80 m²,None,None,1,None,...,None,None,None,None,None,None,None,None,None,None
3,1000 Brussels,flat,loft,635000,2,217 m²,Super equipped,1,3,4,...,None,None,None,None,None,None,None,None,None,None
4,1000 Brussels,flat,loft,595000,2,207 m²,None,2,2,3,...,None,None,None,None,None,None,None,None,None,None
5,1000 Brussels,flat,duplex,615000,2,170 m²,Super equipped,1,2,None,...,None,None,None,None,None,None,None,None,None,None
6,1000 Brussels,flat,duplex,615000,1,170 m²,Super equipped,1,2,None,...,None,None,None,None,None,None,None,None,None,None
7,1000 Brussels,flat,flat---apartment,515000,3,130 m²,None,2,None,1,...,None,None,None,None,None,None,None,None,None,None
8,1000 Brussels,flat,flat---apartment,550000,3,130 m²,None,2,None,4,...,None,None,None,None,None,None,None,None,None,None
9,1000 Brussels,flat,flat---apartment,355000,1,82 m²,Fully equipped,1,None,None,...,None,None,None,None,None,None,None,None,None,None
10,1000 Brussels,flat,flat---apartment,375000,1,73 m²,Fully equipped,1,None,None,...,None,None,None,None,None,None,None,None,None,None
11,1000 Brussels,flat,flat---apartment,395000,2,107 m²,Fully equipped,2,None,None,...,None,None,None,None,None,None,None,None,None,None

In [10]:
df.tail(12)

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
18495,9991 Adegem,flat,flat---apartment,None,2,85 m²,Fully equipped,1,1,2,...,1,None,None,1,None,None,None,None,None,None
18496,9991 Adegem,flat,flat---apartment,None,1,74 m²,Fully equipped,1,1,1,...,1,None,None,1,None,None,None,None,None,None
18497,9991 Adegem,flat,flat---apartment,None,2,89 m²,Fully equipped,1,1,None,...,1,None,None,1,None,None,None,None,None,None
18498,9991 Adegem,flat,flat---apartment,None,1,68 m²,Fully equipped,1,1,None,...,1,None,None,1,None,None,None,None,None,None
18499,9991 Adegem,flat,flat---apartment,None,2,85 m²,Fully equipped,1,1,2,...,1,None,None,1,None,None,None,None,None,None
18500,9991 Adegem,flat,flat---apartment,263000,3,99 m²,Fully equipped,1,1,1,...,1,None,None,1,None,None,None,None,None,None
18501,9991 Adegem,flat,flat---apartment,None,1,68 m²,Fully equipped,1,1,None,...,1,None,None,1,None,None,None,None,None,None
18502,9992 Middelburg,house,villa,675000,3,None,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
18503,9992 Middelburg,house,villa,1450000,6,630 m²,None,4,4,None,...,3,None,None,None,None,None,None,None,None,None
18504,9992 Middelburg,house,residence,695000,3,196 m²,Fully equipped,1,1,None,...,1,None,None,None,None,None,None,None,None,None
18505,9992 Middelburg,house,residence,420000,3,None,None,1,1,None,...,2,None,None,None,None,None,None,None,None,None
18506,9992 Middelburg,house,residence,None,4,None,None,2,None,None,...,1,None,None,None,None,None,None,None,None,None

In [11]:
column_names = df.columns
print(column_names)

Index(['Locality', 'Type of property', 'Subtype of property', 'Price',
       'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property', 'Build Year',
       'Availability', 'Surface bedroom 1', 'Furnished',
       'Surface of living-room', 'Cellar', 'Surface kitchen', 'Elevator',
       'Number of showers', 'Orientation of the front facade',
       'Number of facades', 'Terrace', 'Surface terrace', 'Surface bedroom 2',
       'Gas', 'Total land surface', 'Kitchen type', 'Garden', 'Surface garden',
       'Surface bedroom 3', 'Garage', 'Number of garages', 'Diningroom',
       'Surface of the diningroom', 'Dressing', 'Electronic key',
       'Surface bedroom 4', 'Surface bedroom 5', 'Surface of the bathroom(s)',
       'Swimming pool', 'Surface of the dressing'],
      dtype='object')

In [12]:
colum_uniq = ['Type of property', 'Subtype of property', 'Number of bedrooms', 'Livable surface', 'Kitchen equipment',
       'Number of bathrooms', 'Number of toilets', 'Floor of appartment',
       'Number of floors', 'Balcony', 'State of the property', 'Build Year',
       'Availability', 'Surface bedroom 1', 'Furnished',
       'Surface of living-room', 'Cellar', 'Surface kitchen', 'Elevator',
       'Number of showers', 'Orientation of the front facade',
       'Number of facades', 'Terrace', 'Surface terrace', 'Surface bedroom 2',
       'Gas', 'Total land surface', 'Kitchen type', 'Garden', 'Surface garden',
       'Surface bedroom 3', 'Garage', 'Number of garages', 'Diningroom',
       'Surface of the diningroom', 'Dressing', 'Electronic key',
       'Surface bedroom 4', 'Surface bedroom 5', 'Surface of the bathroom(s)',
       'Swimming pool', 'Surface of the dressing']

In [13]:
#subtype_of_property_unq_val = df['Subtype of property'].unique()
#print(subtype_of_property)

NameError: name 'subtype_of_property' is not defined

In [14]:
kitchen_unq_val = df['Kitchen equipment'].unique()
print(kitchen_unq_val)

['Super equipped' 'None' 'Fully equipped' 'Partially equipped'
 'Not equipped']

In [15]:
num_bedroom_unq_val = df['Number of bedrooms'].unique()
print(num_bedroom_unq_val)

['2' '1' '3' '4' 'None' '5' '6' '8' '14' '10' '9' '12' '13' '7' '16' '11'
 '20' '40' '23' '22' '15' '333']

In [16]:
df.loc[df['Number of bedrooms']=='333']    # they put wrong number of bedrom  3 bedrooms

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
15443,8650 Houthulst,house,residence,195000,333,155 m²,None,None,1,None,...,2,None,None,None,None,None,None,None,None,None

In [17]:
df.loc[df['Number of bedrooms']=='None']

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
18,1000 Brussels,flat,flat---studio,180000,None,40 m²,Partially equipped,1,1,None,...,None,None,None,None,None,None,None,None,None,None
21,1000 Brussels,flat,flat---studio,165000,None,37 m²,None,1,1,2,...,None,None,None,None,None,None,None,None,None,None
33,1000 Brussels,flat,flat---studio,165000,None,40 m²,None,1,1,2,...,None,None,None,None,None,None,None,None,None,None
42,1000 Brussels,flat,flat---studio,185000,None,33 m²,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
45,1000 Brussels,flat,flat---apartment,165000,None,33 m²,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18102,9880 Aalter,flat,flat---apartment,226000,None,None,Fully equipped,1,1,None,...,1,None,None,None,None,None,None,None,None,None
18176,9900 Eeklo,house,residence,484273,None,164 m²,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18315,9940 Ertvelde,house,residence,300000,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18366,9970 Kaprijke,flat,flat---apartment,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18396,9990 Maldegem,flat,flat---apartment,490000,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
df.loc[df['Kitchen equipment'] == "None"]

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
2,1000 Brussels,flat,flat---apartment,295000,2,80 m²,None,None,1,None,...,None,None,None,None,None,None,None,None,None,None
4,1000 Brussels,flat,loft,595000,2,207 m²,None,2,2,3,...,None,None,None,None,None,None,None,None,None,None
7,1000 Brussels,flat,flat---apartment,515000,3,130 m²,None,2,None,1,...,None,None,None,None,None,None,None,None,None,None
8,1000 Brussels,flat,flat---apartment,550000,3,130 m²,None,2,None,4,...,None,None,None,None,None,None,None,None,None,None
15,1000 Brussels,flat,flat---apartment,199000,1,56 m²,None,1,1,1,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18464,9991 Adegem,flat,flat---apartment,263270,2,None,None,1,None,None,...,None,None,None,None,None,None,None,None,None,None
18502,9992 Middelburg,house,villa,675000,3,None,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
18503,9992 Middelburg,house,villa,1450000,6,630 m²,None,4,4,None,...,3,None,None,None,None,None,None,None,None,None
18505,9992 Middelburg,house,residence,420000,3,None,None,1,1,None,...,2,None,None,None,None,None,None,None,None,None
18506,9992 Middelburg,house,residence,None,4,None,None,2,None,None,...,1,None,None,None,None,None,None,None,None,None

In [19]:
df.describe()

,Locality,Type of property,Subtype of property,Price,Number of bedrooms,Livable surface,Kitchen equipment,Number of bathrooms,Number of toilets,Floor of appartment,...,Number of garages,Diningroom,Surface of the diningroom,Dressing,Electronic key,Surface bedroom 4,Surface bedroom 5,Surface of the bathroom(s),Swimming pool,Surface of the dressing
count,18507,18507,18507,18507,18507,18507,18507,18507,18507,18507,...,18507,18507,18507,18507,18507,18507,18507,18507,18507,18507
unique,900,2,15,2823,22,666,5,14,13,31,...,16,3,16,3,3,51,47,12,3,17
top,1050 Elsene,house,residence,None,2,None,None,1,1,None,...,None,None,None,None,None,None,None,None,None,None
freq,331,9625,8004,654,6209,2113,9500,12622,6940,13890,...,12678,18402,18487,18085,17852,17354,18069,18391,18116,18452

In [20]:
df.loc[df['Price'] == None]

Empty DataFrame
Columns: [Locality, Type of property, Subtype of property, Price, Number of bedrooms, Livable surface, Kitchen equipment, Number of bathrooms, Number of toilets, Floor of appartment, Number of floors, Balcony, State of the property, Build Year, Availability, Surface bedroom 1, Furnished, Surface of living-room, Cellar, Surface kitchen, Elevator, Number of showers, Orientation of the front facade, Number of facades, Terrace, Surface terrace, Surface bedroom 2, Gas, Total land surface, Kitchen type, Garden, Surface garden, Surface bedroom 3, Garage, Number of garages, Diningroom, Surface of the diningroom, Dressing, Electronic key, Surface bedroom 4, Surface bedroom 5, Surface of the bathroom(s), Swimming pool, Surface of the dressing]
Index: []

[0 rows x 44 columns]

In [ ]:
freq_of_val = []
for name in column_names:
    if name in colum_uniq:
        freq_of_val.append(df[name].value_counts())
print(freq_of_val)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18507 entries, 0 to 18506
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Locality                         18507 non-null  object
 1   Type of property                 18507 non-null  object
 2   Subtype of property              18507 non-null  object
 3   Price                            18507 non-null  object
 4   Number of bedrooms               18507 non-null  object
 5   Livable surface                  18507 non-null  object
 6   Kitchen equipment                18507 non-null  object
 7   Number of bathrooms              18507 non-null  object
 8   Number of toilets                18507 non-null  object
 9   Floor of appartment              18507 non-null  object
 10  Number of floors                 18507 non-null  object
 11  Balcony                          18507 non-null  object
 12  State of the property            18507 non-null  object
 13  Build Year                       18507 non-null  object
 14  Availability                     18507 non-null  object
 15  Surface bedroom 1                18507 non-null  object
 16  Furnished                        18507 non-null  object
 17  Surface of living-room           18507 non-null  object
 18  Cellar                           18507 non-null  object
 19  Surface kitchen                  18507 non-null  object
 20  Elevator                         18507 non-null  object
 21  Number of showers                18507 non-null  object
 22  Orientation of the front facade  18507 non-null  object
 23  Number of facades                18507 non-null  object
 24  Terrace                          18507 non-null  object
 25  Surface terrace                  18507 non-null  object
 26  Surface bedroom 2                18507 non-null  object
 27  Gas                              18507 non-null  object
 28  Total land surface               18507 non-null  object
 29  Kitchen type                     18507 non-null  object
 30  Garden                           18507 non-null  object
 31  Surface garden                   18507 non-null  object
 32  Surface bedroom 3                18507 non-null  object
 33  Garage                           18507 non-null  object
 34  Number of garages                18507 non-null  object
 35  Diningroom                       18507 non-null  object
 36  Surface of the diningroom        18507 non-null  object
 37  Dressing                         18507 non-null  object
 38  Electronic key                   18507 non-null  object
 39  Surface bedroom 4                18507 non-null  object
 40  Surface bedroom 5                18507 non-null  object
 41  Surface of the bathroom(s)       18507 non-null  object
 42  Swimming pool                    18507 non-null  object
 43  Surface of the dressing          18507 non-null  object
dtypes: object(44)
memory usage: 6.2+ MB